<div modal="univCCtrl.showModal" close="univCCtrl.cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="univCCtrl.ok()">Okay</button>
      <button class="btn" ng-click="univCCtrl.cancel()">Cancel</button>
    </div>
  </div>


<button type="button" class="btn btn-default" ng-click="univCCtrl.open()">Open me!</button>
